h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
}

p {
font-family: "Droid Serif", serif;
color- #0D2C40;
letter-spacing: 1px;
font-weight: 400px;
font-size: 45px;
}
body {
text-align: center;
text-transform: uppercase;
}

